.nav_menu {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em;
  width: fit-content;

  Link {
    width: 2em;
    height: 2em;
  }
}

