#root {
  width: 100%;
  height: 100vh;
}

.app_header {
  background-color: #444444;
  width: max-content;
  padding: 1em;
  position: absolute;
  left: 1em;
  top: 1em;

  clip-path: polygon(
    10px 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%, 
    0 10px
  );
}

.app_title {
  font-size: 5em;
  --pulse-color: #FF2B00;
  animation: pulseGlow 3s ease-in-out infinite;

}

.user_content {
  margin-top: 20em;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.user_list_title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 4em;
  --pulse-color: #FF6E00;
  animation: pulseGlow 3s ease-in-out infinite;
}

.user_list {
  align-self: center;

  background-color: #444444;
  width: max-content;
  padding: 3em;

  clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%, 
    0 20px
  );
}

